name: validate swagger

on:
  pull_request:

jobs:
  go-openapi:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true 
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Validate OpenAPI
        run: |
          go run github.com/getkin/kin-openapi/cmd/validate@latest --defaults -- index.yaml

  redocly-lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true 
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4

      - name: Install Redocly CLI
        run: npm install -g @redocly/cli

      - name: Lint OpenAPI Specification
        run: redocly lint index.yaml --format=github-actions

  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies and run tests
        run: npm ci && npm test